/.bashrc
/.cache
/.config
/.dotnet
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.vimrc
/.vscode
/.vscode-server
/.wget-hsts
/.zcompdump
/.zsh_history
/.zshrc
/Dataset_BUSI_with_GT
/breast-ultrasound-images-dataset.zip
/lgg-mri-segmentation
/main.py
/metadata.csv
/mlruns
/.condarc
/.gitconfig
/.hushlogin
/.jupyter
/.local
/.docker
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful